    body{background-color: aqua;
    }
    .box{
    width: 700px;
    height: 600px;
    border: 2px solid green;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    

    }
 .child{
    background-color: blue;
    width: 150px;
    height: 150px;
    border: 2px solid black;

 }
